.contenedor {
    background: #2984ec;
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 50px 50px 50px;
    width: 100%;
    gap: 10px; 
    justify-items: center;
    align-items: center;
}

.d1 {
    background: red;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}
.d2 {
    background: green;
    justify-self: center;
}
.d3 {
    background: orange;
}
.d4 {
    background: purple;
}
.d5 {
    background: #00fff2;
}
.d6 {
    background: #85377e;
}