

@media (min-width:600px) {
    .flexbox1 {
        background-color: blue;
    }
    
    .fondoTelefono {
        display: none
    }
    footer {
        margin-top: 850px;
    }
}

@media (min-width: 900px) {
    .flexbox1 {
        background-color: blueviolet;
    }
}