/**

* Universal 
. Clases
# Id

nombre_etiqueta

*/

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.flexbox1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(240, 243, 245);
    padding: 72px 0 112px;
}

.facebookLogo {
    width: 250px;
    margin: -47px 0 10px 94px;
    border: 0;
}

.parrafo {
    display: flex;
    justify-content: left;
    align-items: flex-start;
    width: 430px;
    height: 2px;
    padding: 10px;
    font-size: 27px;
    margin-left: 190px;
    margin-top: -50px;
    padding: 0 0 20px;
}

.cajaUsuario {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 800px;
    /* margin: 40px 0px 0px; */

    text-align: center;
}

.borde {
    display: flex;
    background-color: white;
    width: 400px;
    /* height: 350px; */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #c5c5c5;
    border-radius: 15px;
    
}
.uno{
    width: 350px;
    height: 30px;
    margin-top: 20px;
    padding: 10px 12px;
    border: 1px solid #c5c5c5;
    border-radius: 6px;
    font-size: 15px;
    outline: none;
    
}

.uno:focus {
    border: 1px solid #1877F2;
    
} 


.dos{
    margin-bottom: 15px;
}

.dos :focus {
    border: 1px solid #1877F2;
}

.Inicio {
    color: #fff;
    background-color: #1877F2;
    font-size: 20px;
    font-weight: bold;
    width: 358px;
    border-radius: 6px;
    border: none;
    height: 50px;
    line-height: 48px;
    padding: 0px 16px;
    /* margin: 15px 0  ; */
}
.textCenter {
    color: blue;
    margin: 15px 0;
}

.separador {
    width: 95%;
    height: 1px;
    background: gray;
    /* margin: 5px 0; */
}

.Inicio2 {
    text-decoration: none;
    color: #fff;
    background-color: #42B72A;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    width: 200px;
    height: 50px;
    padding: 6px 0 0;
    text-align: center;
    margin: 15px 0;
    
}

.creaPagina {
    font-size: 14px;
    
}

.creaPagina a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.idiomas {
    display: flex;
    justify-content:center;
    align-items: center;
    color: gray;
    text-decoration: none;
    height: 100px;
    padding: 20px;
    margin-top: -2%;
    margin-bottom: -3%;
}

.idiomas a {
    text-decoration: none;
    color: grey;
    margin-right: 10px;
}

.links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 70%;
    margin: 0 auto;
}

.links p a {
    text-decoration: none;
    color: gray;
}

.links p {
    margin-right: 10px;
    
}

@media (max-width: 400px) {
body {
    display: flex;
    flex-wrap: wrap;
}

    .flexbox1 {
        flex-direction: column;
    }
    .facebookLogo {
        margin: 0px auto;
    }
    .parrafo {
        text-align: center;
        width: 350px;
        font-size: 20px;
        margin: 0px;
    }
    .cajaUsuario {
        margin-top: 100px;
        margin-left: 400px;
        display: inline-block;
        flex-direction: column;
    }
    .creaPagina {
        width: 400px;
        margin-top: 10px;
    }
    .links {
        width: 600px;
        font-size: 15px;
        margin-left: 300px;
    }
    .idiomas {
        font-size: 15px;
        width: 600px;
        margin-left: 300px;
    }
}
